.news-footer {
      width: 100%;
      height: 5.5rem;
      background-image: url('../assets/images/news.jpg'); /* Define your colors */
      border-radius: 0 0 1rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 2rem;
            
}

.news-footer p {
      font-size: 1rem;
      font-weight: 300;
      color: #bbb;  
}

.news-footer p span {
      font-family: "Bebas Neue", sans-serif;
      font-size: 1.5rem;
}

@media (max-width: 480px){
  .news-footer {
    min-height: 8rem;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
  }
}