.news {
   font-size: 2rem;
   color : #fff;
   width : 100%;
   height : 100%;
   display: flex;
   border-radius: 4rem;
   flex-direction: column;
   justify-content: space-between;
   row-gap: 2rem;  
}

.news-header {
    width: 100%;
    min-height: 7rem;
    background-image: url('../assets/images/news.jpg'); /* Define your colors */

    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 4rem;
}

.logo{
      font-family: "Bebas Neue", sans-serif;
      font-size: 5rem;
      color: #ddd;
      letter-spacing: 0.2rem;
}

.news-content{
      display: flex;
      column-gap: 2rem;
      height: calc(100% - 16rem);
      border-radius: 2rem;
      padding: 0 2rem;
}

.navbar {
      width: 18rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 2rem;      
}

.user {
      width: 100%;
      height: 20%;
      background-color: #111214;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 1rem;
      cursor: pointer;
      
}

.user img {
    width: 7rem;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;  
}

.user p {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.5rem;
  color: #ddd;
}
.categories {
      width: 100%;
      height: calc(80% - 2rem);
      background-color: #111214;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      padding: 2rem;
}

.nav-links{
      display: flex;
      flex-direction: column;
      row-gap: 2rem;

}

.nav-link{
      font-size: 1.5rem;
      font-weight: 300;
      color: #ddd;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      align-items: center;

}

.nav-link:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(95, 40, 98, 0.3);
}

.news-section {
      width: clamp(10rem, 43vw, 40%);
      height: 100%;
      border-radius: 1rem;
}

.headline {
      width: 100%;
      height: calc(50% - 1.4rem);
      background-color: #111214;
      border-radius: 1rem;
      margin-bottom: 2rem;
}

.news-grid {
      width: 100%;
      height: 49%;
      background-color: #111214;
      border-radius: 1rem;
}

.weather-calendar {
      flex: 1;
      display: flex;
      flex-direction: column;
      row-gap: 2rem;

}
      
.news-footer {
      width: 100%;
      min-height: 5rem;
      background-color: #111214; 
      border-radius: 0 0 1rem 1rem;
      
}





