@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: 'Kanit', 'sanserif';
  color: #fafafd 
}

html{
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #b88efc, #6877f4);
  display: grid;
  place-items: center;
   padding: 2rem; /* add breathing room */
}

.news-app{
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column; /* make header, content, footer flow vertically */
  border-radius: 2rem;
  background-color: #060706;
  overflow: hidden; /* keep inner scroll clean */
  box-sizing: border-box;
  /*padding: 0.6rem 0;          /* small vertical breathing space inside card */
}

.news-contact{
  width: 90vw;
  height: 95vmin;
  border-radius: 2rem;
  background-color: #060706;
}

@media (max-width: 1024px) {
  html {
    font-size: 59%;
  }
}

@media (max-width: 768px) {
  .news-app {
    height: 100%;
    max-height: 90vh;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 55%;
  }
}