.calendar {
      width: 100%;
      min-width: 28rem;
      height: 50%;
      background-color: #111214;
      border-radius: 1rem;
      padding: 2rem;
      display: grid;
      place-items: center;
}

.navigate-date {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 1rem;
      padding-left: 1rem;
      margin-bottom: 1rem;
}

.navigate-date h2 {
      font-size: 2rem;
      font-weight: 300;
      color: #bbb;
}

.buttons {
      display: flex;
      align-items: center;
      gap: 0.8rem;
}

.buttons i {
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to right, #b88efc, #6877f4);
      border-radius: 50%;
      font-size: 1.8rem;
      color: #fff;
      cursor: pointer;
}

.buttons i:hover {
      transform: scale(1.12);
}

.weekdays {
      width: 100%;
      display: flex;
      margin: 1rem, 0;
      margin-top: 1rem;
}

.weekdays span {
      width: calc(100% / 7);
      font-size: 1.3rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #78879e;
      letter-spacing: 0.1rem;
      display: flex;
      justify-content: center;
}

.days {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
}

.days span {
      width: calc(100% / 7);
      height: 2.5rem;
      font-size: 1.3rem;
      color: #ddd;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      box-sizing: border-box;
}

/* override to make the current-day a circle */
.days span.current-day {
      font-size: 2rem !important;
      width: 2.6rem;
      height: 2.6rem;
      min-width: 2.6rem;
      background: linear-gradient(to right, #b88efc, #6877f4);
      color: #fff;
      border-radius: 50%;
      margin: 0.15rem auto;
      display: inline-flex;
      align-items: center;
      justify-content: center;
}

.days span.current-day:hover {
      transform: scale(1.12);
}

@media (max-width: 768px) {
      .calendar {
            height: 100%;
      }
}