/* Wrapper to center spinner */
.loader-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The spinner itself */
.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-top: 5px solid red;
  border-left: 3px solid #d80808;
  border-bottom: 1px solid #7b0707;
  border-right: transparent;
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
